<div class="container1">
    
    <H2>সি++ প্রোগ্রামিং |সি++ basics| C++ Programming Bangla Tutorial</H2>
    <p>
        একটি প্রোগ্রামিং ল্যাংঙ্গুয়েজ ভালভাবে শিখতে হলে প্রোগ্রাম লিখতে হবে । 
        সাধারণত,”হ্যালো ওয়ার্ল্ড” হল প্রথম প্রোগ্রাম যা একজন প্রোগ্রামার লিখেন, 
        এটি দ্বারাই শুরু হয় প্রোগ্রামিং। এটি কেবল আপনার কম্পিউটার স্ক্রীনে “হ্যালো ওয়ার্ল্ড” দেখায় । 
        যদিও এটি খুব সহজ, এর মধ্যে C ++ প্রোগ্রাম এর সমস্ত মৌলিক উপাদান রয়েছে । প্রোগ্রামটি :
    </p>
    <pre class="code-block">
    <code>
        //  C++ প্রথম প্রোগ্রাম
        #include &lt;iostream>
        
        int main()
        
        std::cout << "Hello World!";
        
    </code>
    </pre>
    <h5>Output</h5>
    <pre class="code-block">
    <code>
        Hello World
    </code> 
    </pre>
    <p>
        লাইন বাই লাইন নিম্নে বিশ্লেষন করা হল :
    </p>
    <p>১ম লাইন : // C++ প্রথম প্রোগ্রাম</p>
    <p>দুটি স্ল্যাশ // দ্বারা নির্দেশ করে যে বাকি লাইনটি প্রোগ্রামার দ্বারা সন্নিবেশকৃত একটি মন্তব্য, 
        তবে প্রোগ্রামটির উপর এর কোন প্রভাব নেই। প্রোগ্রামাররা কোড বা প্রোগ্রাম সম্পর্কিত সংক্ষিপ্ত ব্যাখ্যা 
        বা পর্যবেক্ষণ অন্তর্ভুক্ত করতে দুটি স্ল্যাশ // ব্যবহার করেন। এই ক্ষেত্রে, এটি প্রোগ্রামের একটি সংক্ষিপ্ত বিবরণ।
    </p>
    <P>Read: <a href="">প্রোগ্রামিং এ কমেন্ট করা কি ? কেন ? কিভাবে ?</a></P>
    <p>
        ২য় লাইন : #include &lt; iostream><br><br>
        হ্যাশ সাইন (#) দিয়ে শুরু হওয়া লাইনগুলি প্রিপপ্রসেসর হিসাবে পরিচিত যা দ্বারা নির্দেশনাবলি 
        পড়া এবং ইন্টারপ্রেট করা হয় । তারা প্রোগ্রাম কম্পাইল শুরু করার পূর্বে ইন্টারপ্রেট করা বিশেষ লাইন। 
        এই ক্ষেত্রে, নির্দেশ(directive) #include &lt;iostream> , স্ট্যান্ডার্ড সি++ কোডের একটি বিভাগ 
        অন্তর্ভুক্ত করার জন্য প্রিপপ্রসেসরকে নির্দেশ করে , যা হেডার (header) iostream নামে পরিচিত, 
        যেটি স্ক্রিনে এই প্রোগ্রাম (হ্যালো ওয়ার্ল্ড) এর মত আউটপুট লেখা দেখানোর মতো স্ট্যান্ডার্ড ইনপুট এবং 
        আউটপুট ক্রিয়াকলাপগুলি(অপারেশনগুলো) সঞ্চালন/অনুমোদন করতে সক্ষম করে।
    </p>
    <p>৩য় লাইন : একটি ফাঁকা লাইন। ফাঁকা লাইন একটি প্রোগ্রাম কোন প্রভাব নেই । তারা কেবল কোডের পঠনযোগ্যতা উন্নত করে/ সহজ করে।</p>
    <p>৪র্থ লাইন : int main () <br> এই লাইন একটি ফাংশন ঘোষণা করে। মূলত, 
        একটি ফাংশন কোড বিবৃতির একটি গ্রুপ যার একটি নাম দেওয়া হয় : এই ক্ষেত্রে, 
        এটি অনুসরণ করে কোড বিবৃতি গ্রুপের নাম “main” দেয়া হয় । ফাংশন সম্পর্কে বিস্তারিত 
        পরবর্তীতে আলোচনা করা হবে । তবে মূলত এটি গঠিত একটি type(int), একটি নাম(main) 
        এবং এক জোড়া বন্ধনী/Parenthesis (()) সহ,বিকল্পভাবে প্যারামিটার সহ ।
    </p>
    <p>৫ম ও ৭ম লাইন : {{"{ ও }"}}</p>
    <p>লাইন 5 এর ওপেন ব্রেস ({{"{"}}) মেন ফাংশন এর শুরু নির্দেশ করে এবং লাইন 7 এ ক্লোজিং ব্রেস ({{"}"}}) এর শেষ নির্দেশ করে । এই ব্রেসেস এর মধ্যে সবকিছু ফাংশন এর শরীর/বডি যা
        সংজ্ঞায়িত করে কি ঘটে যখন main ফাংশনকে কল করা হয় । সব ফাংশন শুরু এবং শেষ নির্দেশ করার জন্য এই ব্রেসেসগুলো ব্যবহার করা হয় ।
    </p>
    <p>৬ষ্ঠ লাইন :  std::cout << "Hello World!";</p>
    <p>এই লাইন একটি সি ++ বিবৃতি/স্টেটমেন্ট । একটি বিবৃতি/স্টেটমেন্ট 
        একটি অভিব্যক্তি/expression যা প্রোগ্রামে কিছু প্রভাব তৈরি করতে পারে। 
        বিবৃতি/স্টেটমেন্টগুলি একই ক্রম এক্সিকিউট/কার্যকর হয় যেভাবে/ যে অনুসারে তারা একটি ফাংশনের শরীরের মধ্যে বিদ্যমান থাকে । <br>
        এর ৩ টি অংশ ।<br>
        ১ম টি : std::cout, যা ডিভাইসকে(সাধারণত,কম্পিউটারের পর্দায় প্রকাশ করতে ) নির্দেশ করে standard character output <br>
        ২য় টি : insertion operator (<<) , যা নির্দেশ করে std::cout কি আছে? তা অনুসরণ করতে । তারপর “Hello world!” <br>
        ৩য় : একটি সেমিকোলন (;) এর সঙ্গে বিবৃতি/স্টেটমেন্ট শেষ হয় । <br> <br>
        পুরো প্রোগ্রামটি এক লাইনে লেখা যেত
    </p>
    <pre class="code-block">
    <code>
        #include &lt;iostream>
        int main(){{"{"}}std::cout << "Hello World!";{{"}"}}
    </code>
    </pre>
    <p>তবুও বিস্তৃত করে লিখলে পড়তে ও বুঝতে সহজ হয় । <br> <br>
        বা, namespace std ব্যবহার করে
    </p>
    <pre class="code-block">
    <code>
        //  C++ দ্বিতীয় প্রোগ্রাম
        #include &lt;iostream>
        using namespace std;

        int main() 
        {{"{"}}
            cout << "Hello, World!";
            return 0;
        }
    </code>
    </pre>
    <p>
        আপনি যদি আগে C ++ কোড দেখে থাকেন তবে আপনি std :: cout এর 
        পরিবর্তে cout ব্যবহার করেতে দেখেছেন । উভয় একই বস্তুর নাম । প্রথমটি তার 
        অযোগ্য নাম (cout) ব্যবহার করে, দ্বিতীয়টি সরাসরি namespace std এর মাধ্যেমে 
        (এটি std :: cout হিসাবে) যোগ্যতা অর্জন করে। cout স্ট্যান্ডার্ড লাইব্রেরির অংশ এবং 
        স্ট্যান্ডার্ড সি ++ লাইব্রেরীতে সমস্ত উপাদানগুলি প্রকাশ করা আছে , যাকে namespace: the namespace std. বলা হয় ।
    </p>
    <p>
        Std namespace এর উপাদানগুলিকে refer/ সম্পর্কযুক্ত  করার জন্য একটি প্রোগ্রাম লাইব্রেরির 
        হয় প্রত্যেকটি উপাদানগুলির ব্যবহার যোগ্যতা অর্জন করাতে হবে ( যেমন আমরা করেছি cout পূর্বে std:: বসিয়ে ) 
        নয়ত তার উপাদানের ভিজিবিলিটি পরিচয় করিয়ে দিতে হবে । এই উপাদানগুলির ভিজিবিলিটি পরিচয় করানোর সবচেয়ে সাধারণ উপায় “using” ব্যবহার করে:
    </p>
    <pre class="code-block">
    <code>
        using namespace std;
    </code>
    </pre>
    <p>
        উপরের ডিক্লেরেশনটি/ঘোষণাটি std namespace -এর সমস্ত উপাদানগুলিকে unqualified/অযোগ্যতার 
        সাথে অ্যাক্সেস/প্রয়োগ করার অনুমতি দেয় ।( std:: পূর্বে না বসিয়ে )।<br> 
        উভয় পদ্ধতিই সঠিক ; std:: পূর্বে বসিয়ে বা using namespace std; ব্যবহার করে ।
    </p>
</div>
