<main>  
    <div class="flex-shrink-0 p-3 sidebar" style="width: 100%; min-width: 100%;">
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-5 fw-semibold">বিষয়বস্তু</span>
      </a>
      <ul class="list-unstyled ps-0">

        <li class="mb-1" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            ডাটা স্ট্রাকচার
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">ঈনট্রোডাকশন</a></li>
              <li><a href="#" class="link-dark rounded">লিঙ্কড লিস্ট</a></li>
              <li><a href="#" class="link-dark rounded">প্রায়োরিটি কিউ</a></li>
            </ul>
          </div>
        </li>

        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            নাম্বার থিওরি
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">ঈনট্রোডাকশন</a></li>
                <li><a href="#" class="link-dark rounded">লিঙ্কড লিস্ট</a></li>
                <li><a href="#" class="link-dark rounded">প্রায়োরিটি কিউ</a></li>
            </ul>
          </div>
        </li>

        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            ডিপ লার্নিং
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">ঈনট্রোডাকশন</a></li>
                <li><a href="#" class="link-dark rounded">লিঙ্কড লিস্ট</a></li>
                <li><a href="#" class="link-dark rounded">প্রায়োরিটি কিউ</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        
      </ul>
    </div>

    <div class="b-example-divider"></div>
 
  
  
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="sidebars.js"></script>
  